<?xml version="1.0" encoding="UTF-8"?>
<web-app id="CoreFrame" version="2.4"
	xmlns="http://java.sun.com/xml/ns/j2ee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>CoreFrame</display-name>
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>
			classpath:/org/codehaus/xfire/spring/xfire.xml,
			/WEB-INF/spring-config/applicationContext.xml
		</param-value>
	</context-param>
	<filter>
		<filter-name>encodingFilter</filter-name>
		<filter-class>
			org.springframework.web.filter.CharacterEncodingFilter
		</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
		<init-param>
			<param-name>forceEncoding</param-name>
			<param-value>true</param-value>
		</init-param>
	</filter>
	<filter>
		<filter-name>loginPurviewCheck</filter-name>
		<filter-class>
			com.yunda.base.filter.LoginPurviewCheckFilter
		</filter-class>
		<init-param><!-- 登录前允许访问的url -->
			<param-name>beforeLoginUrl</param-name>
			<param-value>
				/index.jsp,/login.jsp,/services/*,/login!login.action,/login!relogin.action,/login!toCardLogin.action,/login!loginChecking.action
				,/login!heartbeat.action
				,/login!terminalLogin.action,/login!terminalLogout.action,/login!enableConnection.action
				,/disallow.jsp,/frame/installfiles/support.jsp,/jsp/twt/asynchronouslogin/AsynchronousLogin.jsp,/asynchronousLogin!asynchronousLogin.action,
				/frame/sso/AsynchronousLogin.jsp,/singleSign!asynchronousLogin.action,/codeRuleConfig!getBatchConfigRule.action,
				/attachment!download.action,/login!changeLanguage.action
			</param-value>
		</init-param>
		<init-param><!-- 重新登录jsp -->
			<param-name>reloginJsp</param-name>
			<param-value>/login.jsp</param-value>
		</init-param>
		<init-param><!-- 首页jsp -->
			<param-name>mainJsp</param-name>
			<param-value>/login!login.action</param-value>
		</init-param>
		<init-param><!-- 超级用户名，AcOperator -->
			<param-name>sysAdmin</param-name>
			<param-value>sysadmin</param-value>
		</init-param>
		<init-param><!-- 超级用户名 -->
			<param-name>superName</param-name>
			<param-value>admin</param-value>
		</init-param>
		<init-param><!-- 超级用户密码 -->
			<param-name>superPassword</param-name>
			<param-value>123</param-value>
		</init-param>
		<init-param><!-- 是否使用流程引擎 -->
			<param-name>useWorkFlow</param-name>
			<param-value>false</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>loginPurviewCheck</filter-name>
		<url-pattern>*.jsp</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>loginPurviewCheck</filter-name>
		<url-pattern>*.action</url-pattern>
	</filter-mapping>

<!-- xfire配置  开始  -->
	<servlet>
        <servlet-name>XFireServlet</servlet-name>
        <servlet-class>
             org.springframework.web.servlet.DispatcherServlet
        </servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>XFireServlet</servlet-name>
        <url-pattern>/servlet/XFireServlet/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>XFireServlet</servlet-name>
        <url-pattern>/ydservices/*</url-pattern>
    </servlet-mapping>
<!-- xfire配置  结束  -->

	<filter>
		<filter-name>struts2</filter-name>
		<filter-class>
			org.apache.struts2.dispatcher.FilterDispatcher
		</filter-class>
		<init-param>
			<param-name>actionPackages</param-name>
			<param-value>
				<!-- 产品化业务 -->
				com.yunda.baseapp.workcalendar.action,
				com.yunda.flow.core.action,
				com.yunda.frame.baseapp.cache.action,
				com.yunda.frame.baseapp.message.action,
				com.yunda.frame.baseapp.todojobforpad.action,
				com.yunda.frame.baseapp.upload.action,
				com.yunda.frame.report.action,
				com.yunda.frame.yhgl.action,
				com.yunda.jx.base.jcgy.action,
				com.yunda.jx.common.calendar.action,
				com.yunda.jx.component.action,
				com.yunda.jx.jczl.attachmanage.action,
				com.yunda.jx.jczl.undertakemanage.action,
				com.yunda.jx.jxgc.base.jcqcitemdefine.action,
				com.yunda.jx.jxgc.buildupmanage.action,
				com.yunda.jx.jxgc.configmanage.action,
				com.yunda.jx.jxgc.dispatchmanage.action,
				com.yunda.jx.jxgc.faulttaskmanage.action,
				com.yunda.jx.jxgc.processdef.action,
				com.yunda.jx.jxgc.producttaskmanage.action,
				com.yunda.jx.jxgc.producttaskmanage.gzpg.action,
				com.yunda.jx.jxgc.producttaskmanage.qualitychek.action,
				com.yunda.jx.jxgc.producttaskmanage.workcard.action,
				com.yunda.jx.jxgc.producttaskmanage.zljc.action,
				com.yunda.jx.jxgc.repairrequirement.action,
				com.yunda.jx.jxgc.workplanmanage.action,
				com.yunda.jx.jxgc.workplanmanage.query.action,
				com.yunda.jx.jxgc.workstationmanage.action,
				com.yunda.jx.pjjx.base.equipdefine.action,
				com.yunda.jx.pjjx.base.qcitemdefine.action,
				com.yunda.jx.pjjx.base.recorddefine.action,
				com.yunda.jx.pjjx.base.tecdefine.action,
				com.yunda.jx.pjjx.base.wpdefine.action,
				com.yunda.jx.pjjx.partsrdp.action,
				com.yunda.jx.pjjx.partsrdp.equipcardinst.action,
				com.yunda.jx.pjjx.partsrdp.expendmat.action,
				com.yunda.jx.pjjx.partsrdp.qcinst.action,
				com.yunda.jx.pjjx.partsrdp.rdpnotice.action,
				com.yunda.jx.pjjx.partsrdp.recordinst.action,
				com.yunda.jx.pjjx.partsrdp.tecinst.action,
				com.yunda.jx.pjjx.partsrdp.worktime.action,
				com.yunda.jx.pjjx.partsrdp.wpinst.action,
				com.yunda.jx.pjwz.materialapply.action,
				com.yunda.jx.pjwz.partsBase.action,
				com.yunda.jx.pjwz.partsBase.exchangeboundary.action,
				com.yunda.jx.pjwz.partsBase.madefactory.action,
				com.yunda.jx.pjwz.partsBase.outsourcingfactory.action,
				com.yunda.jx.pjwz.partsBase.outsourcinglist.action,
				com.yunda.jx.pjwz.partsBase.partsquota.action,
				com.yunda.jx.pjwz.partsBase.partstype.action,
				com.yunda.jx.pjwz.partsBase.professionaltype.action,
				com.yunda.jx.pjwz.partsBase.repairlist.action,
				com.yunda.jx.pjwz.partsBase.warehouse.action,
				com.yunda.jx.pjwz.partscancel.action,
				com.yunda.jx.pjwz.partsmanage.action,
				com.yunda.jx.pjwz.partsoutsourcing.partsoutsourceregister.action,
				com.yunda.jx.pjwz.partsscrap.action,
				com.yunda.jx.pjwz.unloadparts.action,
				com.yunda.jx.pjwz.wellpartsmanage.backwh.action,
				com.yunda.jx.pjwz.wellpartsmanage.repairedpartswh.action,
				com.yunda.jx.pjwz.wellpartsmanage.wellpartsstock.action,
				com.yunda.jx.scdd.enforceplan.action,
				com.yunda.jx.jsgl.jxrb.action,
				com.yunda.jxpz.coderule.action,
				com.yunda.jxpz.equipinfo.action,
				com.yunda.jxpz.flow.action,
				com.yunda.jxpz.rcrtset.action,
				com.yunda.jxpz.smsnotify.action,
				com.yunda.jxpz.systemchar.action,
				com.yunda.jxpz.systemconfig.action,
				com.yunda.jxpz.temporaryemp.action,
				com.yunda.jxpz.workplace.action,
				com.yunda.twt.asynchronouslogin.action,
				com.yunda.twt.sensor.action,
				com.yunda.twt.trainaccessaccount.action,
				com.yunda.twt.twtinfo.action,
				com.yunda.vis.action,
				com.yunda.zb.oilconsumption.action,
				com.yunda.zb.pczz.action,
				com.yunda.zb.rdp.zbbill.action,
				com.yunda.zb.rdp.zbtaskbill.action,
				com.yunda.zb.tecorder.action,
				com.yunda.zb.tp.action,
				com.yunda.zb.trainclean.action,
				com.yunda.zb.trainhandover.action,
				com.yunda.zb.trainonsand.action,
				com.yunda.zb.trainwarning.action,
				com.yunda.zb.zbfw.action,
				com.yunda.zb.mobile.action,
     			com.yunda.jx.jxgc.base.tpqcitemdefine.action,
     			com.yunda.jx.jxgc.tpmanage.action,
     			com.yunda.frame.sso.action,
     			com.yunda.jx.jxgc.workhis.repairactivity.action,
     			com.yunda.jx.jxgc.workhis.workcard.action,
     			com.yunda.jx.jxgc.workhis.workplan.action,
     			com.yunda.frame.baseapp.todojob.action,
     			com.yunda.jx.pjjx.partsrdp.station.action,
     			com.yunda.jx.pjjx.repairline.action,
     			com.yunda.jx.scdd.repairplan.action,
     			com.yunda.jxpz.phrasedic.action,
     			com.yunda.jxpz.orgdic.action,
     			com.yunda.jxpz.datacollect.action,
     			com.yunda.jx.pjwz.partsBase.location.action,
     			com.yunda.jx.pjwz.wellpartsmanage.exwh.action,
     			com.yunda.jx.pjwz.export.action,
     			com.yunda.jx.pjwz.wellpartsmanage.wellpartsregister.action,
     			com.yunda.jx.pjjx.workplan.action,
     			com.yunda.jx.pjwz.fixparts.action,
     			com.yunda.frame.baseapp.roleproc.action,
     			com.yunda.jcgy.action,
				com.yunda.twt.httpinterface.action,
				com.yunda.jx.pjwz.installparts.action,
				com.yunda.jx.pjwz.dismantleparts.action,
				com.yunda.jx.jxgc.workhis.partslist.action,
				com.yunda.jx.wlgl.aboard.action,
				com.yunda.jx.wlgl.backsupply.action,
				com.yunda.jx.wlgl.backwh.action,
				com.yunda.jx.wlgl.expend.action,
				com.yunda.jx.wlgl.instock.action,
				com.yunda.jx.wlgl.matcheck.action,
				com.yunda.jx.wlgl.movestock.action,
				com.yunda.jx.wlgl.outstock.action,
				com.yunda.jx.wlgl.partsBase.action,
				com.yunda.jx.wlgl.planmanage.action,
				com.yunda.jx.wlgl.stockmanage.action,
				com.yunda.jx.wlgl.inwh.action,
				com.yunda.jx.wlgl.outwh.action,
				com.yunda.jx.wlgl.movewh.action,
				com.yunda.jx.wlgl.changewh.action,
				com.yunda.jx.wlgl.loan.action,
				com.yunda.jcbm.jcgx.action,
				com.yunda.jcbm.jcxtfl.action,
				com.yunda.jx.pjwz.check.action,
				com.yunda.jx.pjwz.handover.action,
				com.yunda.jx.pjwz.movewh.action,
				com.yunda.jx.pjwz.integrateQuery.action,
				com.yunda.jx.pjwz.cs.action,
				com.yunda.jcbm.jcpjzd.action,
				com.yunda.jx.pjwz.turnover.action,
				com.yunda.jx.jxgc.recordscan.action,
				com.yunda.zb.zbglrdpmanage.action,
				com.yunda.zb.pjdj.fixparts.action,
				com.yunda.zb.pjdj.unloadparts.action,
				com.yunda.flow.snaker.action,
			    com.yunda.jx.scdd.yearplan.action,
			    com.yunda.jx.jcll.action,
			    com.yunda.jx.jxgc.workplanthedynamic.action,
				<!-- 肯尼亚新加业务 -->
				com.yunda.freight.base.vehicle.action,
				com.yunda.freight.base.trainInspection.action,
				com.yunda.freight.base.stationTrack.action,
				com.yunda.freight.zb.plan.action,
				com.yunda.passenger.base.traininspector.action,
				com.yunda.passenger.marshalling.action,
				com.yunda.passenger.routing.action,
				com.yunda.passenger.traindemand.action,
				com.yunda.passenger.operationsafetyrecord.action,
				com.yunda.freight.zb.plan.action,
				com.yunda.freight.base.classMaintain.action,
				com.yunda.freight.base.classOrganization.action,
				com.yunda.freight.zb.gztp.action,
				com.yunda.freight.zb.qualitycontrol.action,
				com.yunda.freight.base.classTransfer.action,
				com.yunda.freight.zb.detain.action,
				com.yunda.freight.jx.classwarning.action,
				com.yunda.jx.base.workInstructor.action,
				com.yunda.freight.zb.inspectrecord.action,
				com.yunda.zb.schedule.action,
				
				<!-- 肯尼亚设备 -->
				com.yunda.sb.newbuyequipment.action,
				com.yunda.sb.classfication.action,
				com.yunda.sb.equipmentprimaryinfo.action,
				com.yunda.sb.equipmentprimaryinfo.action,
				com.yunda.sb.base.combo.action,
				com.yunda.sb.repair.period.action,
				com.yunda.sb.base.common.action,
				com.yunda.sb.repair.scope.action,
				com.yunda.sb.repair.plan.action,
				com.yunda.sb.repair.plan.vis.action,
				com.yunda.sb.repair.process.action,
				com.yunda.sb.inspect.plan.action,
				com.yunda.sb.inspect.record.action,
				com.yunda.sb.inspect.route.action,
				com.yunda.sb.inspect.scope.action,
				com.yunda.sb.fault.action,
				com.yunda.sb.pointcheck.action,
				com.yunda.frame.baseapp.sbtodojob.action
			</param-value>
		</init-param>
	</filter>
	
	<!-- 国际化过滤器 -->
	<filter>
		<filter-name>i18nFilter</filter-name>  
        <filter-class>com.yunda.base.filter.I18nFilter</filter-class>  
	</filter>
	<filter-mapping>  
        <filter-name>i18nFilter</filter-name>  
        <url-pattern>/*</url-pattern>  
    </filter-mapping>  

	<filter-mapping>
		<filter-name>encodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>struts2</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<welcome-file-list>
		<welcome-file>login.jsp</welcome-file>
	</welcome-file-list>

	<listener>
		<listener-class>
			org.springframework.web.context.ContextLoaderListener
		</listener-class>
	</listener>
	
	<!-- 由wuwei 添加，目的是在系统系统时候加载一些应用的全局参数集合 -->
	<servlet>
		<servlet-name>SystemInit</servlet-name>
		<servlet-class>com.yunda.SystemInit</servlet-class>
		<init-param>
			<param-name>log4j</param-name>
			<param-value>/WEB-INF/classes/log4j.properties</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>

</web-app>