<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="jQuery" version="2.1.4" targetFramework="net45" />
  <package id="jquery.TypeScript.DefinitelyTyped" version="2.3.1" targetFramework="net45" />
  <package id="jQuery.UI.Combined" version="1.8.11" targetFramework="net45" />
</packages>