<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="
    http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
    http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd
    http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd"
    default-autowire="autodetect">

	<bean id="daoUtils" class="com.yunda.util.DaoUtils" lazy-init="true">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	<bean id="ibatisDaoUtils" class="com.yunda.util.IbatisDaoUtils" lazy-init="true">
		<property name="dataSource" ref="dataSource"/>
	</bean>	
    <!-- 插件下载
	<bean id="cPluginManager" class="com.yunda.common.plugin.manager.CPluginManager"/>
	 -->
</beans>